<div class="wrapper-registration">
    <form class="regist-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1>REGISTRATION</h1>
        <label for="firstname">First Name </label>
        <input type="text" id="firstname" autocomplete="off" formControlName="firstName" />
        <div class="errors-wrapper" [hidden]="firstName.valid || firstName.untouched">
            <div class="error-validations" [hidden]="!firstName.hasError('required')">
                First Name is required.
            </div>
            <div class="error-validations" [hidden]="!firstName.hasError('minlength')">
                First Name must be 3 characters long.
            </div>
        </div>

        <label for="lasname">Last Name </label>
        <input type="text" id="lastname" autocomplete="off" formControlName="lastName" />

        <label for="email">Email </label>
        <input type="email" id="email" email autocomplete="off" formControlName="email" />
        <div class="errors-wrapper" [hidden]="email.valid || email.untouched">
            <div class="error-validations" [hidden]="!email.hasError('required')">
                Email is required.
            </div>
            <div class="error-validations" [hidden]="!email.hasError('email')">
                Please provide a valid email.
            </div>
        </div>

        <label for="passphrase">Password </label>
        <input type="password" id="passphrase" autocomplete="off" formControlName="passphrase" />
        <div class="errors-wrapper" [hidden]="passphrase.valid || passphrase.untouched">
            <div class="error-validations" [hidden]="!passphrase.hasError('required')">
                Password is required.
            </div>
            <div class="error-validations" [hidden]="!passphrase.hasError('minlength')">
                Password must be 6 characters long.
            </div>
        </div>


        <button class="regist-btn" type="submit" [disabled]="!registerForm.valid">REGISTER</button>
    </form>
</div>