<div class="login-registration-background">
    <div class="wrapper-login">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1>LOGIN</h1>
            <label for="email">Email </label>
            <input type="email" id="email" email autocomplete="off" formControlName="email" />
            <div class="errors-wrapper" [hidden]="email.valid || email.untouched">
                <div class="error-validations" [hidden]="!email.hasError('required')">
                    Email is required.
                </div>
                <div class="error-validations" [hidden]="!email.hasError('email')">
                    Please provide a valid email.
                </div>
            </div>

            <label for="passphrase">Password </label>
            <input type="password" id="passphrase" autocomplete="off" formControlName="passphrase" />
            <div class="errors-wrapper" [hidden]="passphrase.valid || passphrase.untouched">
                <div class="error-validations" [hidden]="!passphrase.hasError('required')">
                    Password is required.
                </div>
                <div class="error-validations" [hidden]="!passphrase.hasError('minlength')">
                    Password must be 6 characters long.
                </div>
            </div>


            <button class="login-btn" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
            <div class="gotoregister">Not registred with us? <a routerLink="/register">Get registered here</a></div>
        </form>
        <div *ngIf="isLoading" class="progress-spinner">
            <mat-spinner color="accent"></mat-spinner>
        </div>

    </div>
</div>